# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
.env
.env.*
.aws-sam/
samconfig.toml
__pycache__/
*.pyc
/test/screenshots
docs/generated_200_tickets.json
docs/generated_250_tickets.json
docs/sql_generated_250_tickets.json
docs/AmplifyLogs
docs/secrets
test/multiplayerTestOutputs
tests/multiplayer/.auth_cache.json
*.auth_cache.json
supabase/.temp/


# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Node & Test artifacts
node_modules/
**/node_modules/
tests/multiplayer/screenshots/
